Host srcnode
  Port 10022
Host dstnode
  Port 20022
Host *
  HostName 192.168.254.254
  User root
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/otahi/.vagrant.d/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL
